/* Contact CSS */
#phone:hover::after,
#phone:active::after {
  content: "405.742.6825";
}

.show-contact:hover::after,
.show-contact:active::after {
  margin-left: 10px;
  font-size: 34px;
  font-weight: 500;
}